.header{
    background-color: blue;
    height: 80px;
}
.headerLogo{
    position: relative;
    top: 10px;
    left: 110px;
}
.headerTittle{
    position: relative;
    left: 110px;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    text-transform:uppercase;
    font-size:20px;
    padding:10px
}
.headerTittleAddition {
    position: relative;
    padding:10px;
    left: 110px;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    font-size:20px;
}
.search{
    position:relative;
    left: 1400px;
    top: -50px;
    max-width: 180px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
}
.search input {
    background-color: dodgerblue;
    color: white;
    border:0px;
}
::placeholder{
    color:white
}
.headerMenu{
    width: auto;
    margin: 73px 0 auto;
    text-align: center;
}
.inner {
    background-color: cornflowerblue;
    margin: 0 auto;
 }
.hm-item {
    display: inline-block;
    padding: 16px;
    position:relative;
    left:100px;
}

.hm-item:hover {
    background-color: dodgerblue;
}