@media screen and (min-width: 0px) and (max-width: 650px) {
    .header{
        min-width: 635px;
        height: 40px;
    }
    .headerText{
        position:relative;
        left:-110px;
        top:-18px;
    }
    .headerTittle{
        font-size:10px;
    }
    .search{
        left:136px;
        top:-38px;
        border-radius: 0;
        padding: 0;
        max-width: 0;
    }
    .headerMenu{
        min-width: 635px;
        height: 20px;
    }
    .inner{
        background-color: cornflowerblue;
        position: relative;
    }
    .hm-item {
        padding-top:3px;
        padding-bottom:3px;
        padding-left:0px;
        padding-right:0px;
        margin-left:2px;
        margin-right:2px;
        position:relative;
        color:white;
        left:-4px;
        font-size:12px;
        top:-0.8px;
        box-sizing: content-box;
    }
    .hm-item-special {
        padding-top:2px;
        padding-bottom:2px;
        padding-left:0px;
        padding-right:0px;
        margin-left:2px;
        margin-right:2px;
        position:relative;
        color:white;
        left:0;
        font-size:14px;
    }
    .intro{
        min-width: 635px;
        height: 750px;
    }
    .introHeader{
        position: relative;
        padding:0;
        margin-left:50px;
        margin-right:50px;
        margin-bottom:10px;
    }
    .introInfo{
        display: inline-block;
        font-size: 20px;
        padding: 0px;
        max-width: 635px;
        position:relative;
        top:0px;
    }
    .introNav{
        position:relative;
        top: 0px;
        left: 0px;
        max-width: 635px;
    }
    .nav{
        margin-left: 60px;
        margin-right: 60px;
        padding: 10px;
    }
    .navSpec{
        margin-left: 60px;
        margin-right: 60px;
        padding: 10px;
        position: relative;
        left:-30px;
        top:0;
    }
    .announcement{
        text-align: center;
        margin-top: 20px;
        min-width: 635px;
    }
    .quotes{
        position: relative;
        left:-200px;
        text-align: left;
    }
    .t1{
        max-width: 260px;
        font-size: 12px;
        position: relative;
        top:-40px;
        left:140px;
    }
    .arrow2{
        position: relative;
        top:-199px;
        left:465px;
    }
    .tittle{
        position: relative;
        left:450px;
        top:-60px;
    }
    .textfix{
        position: relative;
        left:450px;
        top:-60px;
    }
    .bottom{
        min-width: 635px;
    }

    .contacts1{
        width: 200px;
        height: 100px;
        left: 0px;
        text-align: left;
        top: 2px;
    }
    .contacts2{
        top: 20px;
        color: white;
        width: 200px;
        height: 100px;
        background-color: transparent;
        position: relative;
        left: -100px;
        padding: 20px;
    }
    .announcementArrow1{
        display: inline-block;
        position:relative;
        top:-200px;
        left:-240px;
    }
    .announcementArrow2{
        display: inline-block;
        position:relative;
        top:-200px;
        left:240px;
    }
}
@media screen and (min-width: 651px) and (max-width: 1250px) {
    .hm-item{
        padding: 4px;
    }
    .hm-item-special{
         padding: 4px;
    }
    .header{
        min-width: 1250px;
    }
    .headerMenu{
        height: 24px;
        min-width: 1250px;
    }
    .intro{
        min-width: 1250px;
        height: 800px;
    }
    .announcement{
        min-width: 1250px;
    }
    .bottom{
        min-width: 1250px;
    }
    .quotes{
        position: relative;
        left:-100px;
    }
    .nav{
        position: relative;
        top:-100px;
    }
    .search{
        display: inline-block;
        position: relative;
        top:-20px;
        left:420px;
        max-width: 180px;
        background-color: dodgerblue;
        color: white;
        border-radius: 20px;
        padding: 5px;
    }
    .navSpec{
        position: relative;
        left:-30px;
        top:-100px;
    }
    .quotes{
        position: relative;
        left:-200px;
        text-align: left;
    }
    .t1{
        max-width: 500px;
        font-size: 16px;
    }
    .announcementBoxes{
        text-align: center;
        max-width: 1050px;
        position: relative;
        left:100px;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1600px) {
    .hm-item{
        padding: 10px;
    }
    .hm-item-special{
        padding: 10px;
    }
    .header{
        min-width: 1600px;
    }
    .headerMenu{
        height: 38px;
        min-width: 1600px;
    }
    .intro{
        min-width: 1600px;
    }
    .announcement{
        min-width: 1600px;
    }
    .bottom{
        min-width: 1600px;
    }
    .nav{
        position: relative;
        top:-100px;
    }
    .introNav{
        max-width: 1200px;
        position: relative;
        left:150px;
    }
    .navSpec{
        position: relative;
        left:-30px;
        top:-100px;
    }
    .search{
        display: inline-block;
        position: relative;
        top:-20px;
        left:460px;
        max-width: 180px;
        background-color: dodgerblue;
        color: white;
        border-radius: 20px;
        padding: 5px;
    }
    .quotes{
        position: relative;
        left:-100px;
    }
    .arrow2{
        position: relative;
        top:-199px;
        left:680px;
    }
    .textfix{
        position: relative;
        left:825px;
        top: -50px;
    }
}