@media screen and (min-width: 0px) and (max-width: 1250px) {
    .hm-item{
        padding: 4px;
    }
    .hm-item-special{
         padding: 4px;
    }
    .header{
        min-width: 1250px;
    }
    .headerMenu{
        height: 24px;
        min-width: 1250px;
    }
    .intro{
        min-width: 1250px;
        height: 800px;
    }
    .announcement{
        min-width: 1250px;
    }
    .bottom{
        min-width: 1250px;
    }
    .quotes{
        position: relative;
        left:-100px;
    }
    .nav{
        position: relative;
        top:-100px;
    }
    .search{
        display: inline-block;
        position: relative;
        top:-20px;
        left:420px;
        max-width: 180px;
        background-color: dodgerblue;
        color: white;
        border-radius: 20px;
        padding: 5px;
    }
    .navSpec{
        position: relative;
        left:-30px;
        top:-100px;
    }
    .quotes{
        position: relative;
        left:-200px;
        text-align: left;
    }
    .t1{
        max-width: 500px;
        font-size: 16px;
    }
    .announcementBoxes{
        text-align: center;
        max-width: 1050px;
        position: relative;
        left:100px;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1600px) {
    .hm-item{
        padding: 10px;
    }
    .hm-item-special{
        padding: 10px;
    }
    .header{
        min-width: 1600px;
    }
    .headerMenu{
        height: 38px;
        min-width: 1600px;
    }
    .intro{
        min-width: 1600px;
    }
    .announcement{
        min-width: 1600px;
    }
    .bottom{
        min-width: 1600px;
    }
    .nav{
        position: relative;
        top:-100px;
    }
    .introNav{
        max-width: 1200px;
        position: relative;
        left:150px;
    }
    .navSpec{
        position: relative;
        left:-30px;
        top:-100px;
    }
    .search{
        display: inline-block;
        position: relative;
        top:-20px;
        left:460px;
        max-width: 180px;
        background-color: dodgerblue;
        color: white;
        border-radius: 20px;
        padding: 5px;
    }
    .quotes{
        position: relative;
        left:-100px;
    }
    .arrow2{
        position: relative;
        top:-199px;
        left:680px;
    }
    .textfix{
        position: relative;
        left:825px;
        top: -50px;
    }
}