@media screen and (max-width: 600px){
    .headerText{
        font-size: 8px;
    }
    img {
        max-width: 50%;
    }
    .navtool{
        font-size:10px;
    }
}
@media screen and (min-width: 601px) and (max-width: 650px) {
    .headerText{
        font-size: 8px;
    }
    img {
        max-width: 60%;
    }
    .navtool{
        font-size:10px;
    }
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
    .headerText{
        font-size: 10px;
    }
    img {
        max-width: 70%;
    }
    .navtool{
        font-size:10px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1250px) {
    .headerText{
        font-size: 14px;
    }
    img {
        max-width: 80%;
    }
    .navtool{
        font-size:10px;
    }
}
@media screen and (min-width: 1251px) and (max-width: 1600px) {
    .headerText{
        font-size: 18px;
    }
    img {
        max-width: 90%;
    }
}